@import url(https://fonts.googleapis.com/css?family=Telex);
p, label, input, button, select, textarea {
    font-family: Telex, sans-serif;
}
body {
    font-family: Telex, sans-serif;
}
.sidebar-nav {
    padding: 9px 0;
}
.table-details td:first-child {
    font-weight: bold;
}

/* Common */
.top {
    margin-top: 0;
}
.danger {
    color: #bd362f;
}

/* Utillities */
.mb0 {
    margin-bottom: 0;
}
.mb20 {
    margin-bottom: 20px;
}
.ml10 {
    margin-left: 10px;
}
.mt20 {
    margin-top: 20px;
}

/* Filter */
.filter .hide {
    display: none;
}

/* ACL */
.acl th, .acl td:not(:first-child) {
    text-align: center;
}
.acl tr > :nth-child(even) {
    background: #f9f9f9;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
.acl td:first-child {
    font-weight: bold;
}
.login {
    margin: 0 auto;
    width: 370px;
}
.login .fields {
    margin-left: 30px;
}
.login .well {
    background: #fafafa;
    padding-bottom: 0;
}

/* Users */
.ngos.row {
    margin-left: 0;
}
.ngos .span2 {
    width: 30px;
}
.ngos .span {
    width: 220px;
}
.ngos .btn:first-child {
    margin-top: 25px;
}
.ngos .btn {
    margin: 5px 0;
}

/* Map */
#map {
    height: 450px;
    margin: 20px auto;
    border: 2px solid #999;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
    overflow: hidden;
}

/* Fix for Twitter Bootstrap 2.0 */
#map label {
    width: auto;
    display: inline;
}
#map img {
    max-width: none;
}
.center {
    text-align: center;
}
.table th, .table td {
    max-width: 325px;
}
.table td a.btn {
    margin: 2px 0;
}
.table td.buttons {
    padding: 5px;
}

/* pagination   */

ul{border:0; margin:0; padding:0;}

#pagination-flickr li{
border:0; margin:0; padding:0;
font-size:11px;
list-style:none;
}
#pagination-flickr a{
border:solid 1px #DDDDDD;
margin-right:2px;
}
#pagination-flickr .previous-off,
#pagination-flickr .next-off {
color:#666666;
display:block;
float:left;
font-weight:bold;
padding:3px 4px;
}
#pagination-flickr .next a,
#pagination-flickr .previous a {
font-weight:bold;
border:solid 1px #FFFFFF;
}
#pagination-flickr .active{
color:#ff0084;
font-weight:bold;
display:block;
float:left;
padding:4px 6px;
}
#pagination-flickr a:link,
#pagination-flickr a:visited {
color:#0063e3;
display:block;
float:left;
padding:3px 6px;
text-decoration:none;
}
#pagination-flickr a:hover{
border:solid 1px #666666;
}