#{extends 'main.html' /}
#{set title:'Data' /}
%{tmpGroup=0;}%
<ul class="breadcrumb">
  <li><a href="@{Respondents.list()}"><i class="icon-home"></i> Data</a> <span class="divider">/</span></li>
  <li><a href="@{Respondents.view(data.respondentId)}">ResponseName ${data.respondentName}</a> <span class="divider">/</span></li>
  <li class="active">Data ${data.id}</li>
  *{#{if lang == "en"}
    <li class="pull-right"><a href="@{Respondents.data(data.respondentId, data.id)}">Bangla</a></li>
  #{/if}
  #{else}
    <li class="pull-right"><a href="@{Respondents.data(data.respondentId, data.id, "en")}">English</a></li>
  #{/else}
  }*
</ul>

<table class="table table-striped">
	<tr>
		<th>Question</th>
		<th>Answer</th>
	</tr>
#{set tmp:0 /}
#{list items:list, as:'item'}
	#{if item.value }
	<tr>
		<td>
			#{if tmpGroup>0}
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#8226;
				%{tmpGroup = tmpGroup-1;}%
			#{/if}
			<strong>${item.title}</strong>
		</td>
		<td>
		#{if item.type == "image"}
			<a class="image" href="/${play.configuration['aggregate.uploadDir']}/${item.value}">
            	<img class="thumbnail quimby_search_image" src="/${play.configuration['aggregate.uploadDir']}/${item.value}" width="330" alt="" />
          	</a>
		#{/if}

		#{elseif item.type == "video"}
			<video src="/${play.configuration['aggregate.uploadDir']}/${item.value}" controls>
				Your browser does not support the <code>video</code> element.
			</video>
		#{/elseif}

		#{elseif item.type == "audio"}
			<audio src="/${play.configuration['aggregate.uploadDir']}/${item.value}" controls>
				Your browser does not support the <code>audio</code> element.
			</audio>
			#{if enableAudioText == "true"}
				<textarea name="audioText" class="audioText xxlarge" rows="5" cols="10">#{if data?.audioData}${data?.audioData[tmp]}#{/if}</textarea>
				%{tmp++}%
			#{/if}
		#{/elseif}

		#{elseif item.type == "gmap"}
			<a class="gmap no-ajaxy" title="${item.extraValue}" href="http://maps.googleapis.com/maps/api/staticmap?center=${item.value}&zoom=15&size=640x300&sensor=false&markers=size:mid%7Ccolor:red%7C${item.value}&ext=.jpg">
		    	<img class="thumbnail quimby_search_image" src="http://maps.googleapis.com/maps/api/staticmap?center=${item.value}&zoom=15&size=330x230&sensor=false&markers=size:mid%7Ccolor:red%7C${item.value}" alt="" />
		    </a>
	        ${item.extraValue}
		#{/elseif}
		#{elseif item.type == "group"}
			*{${item.value?.nl2br()}*
			%{	try{tmpGroup=Integer.parseInt(""+item.valueVar);
				}catch(Exception e){
					tmpGroup=0;
				}
			}%
		#{/elseif}		
		#{else}
			#{if lang == "en"}
				#{if item.type == "select"}
					%{
						String[] ls=item.value.split("\\n");
						List<String> values = new ArrayList<String>();
						for (int i = 0; i < ls.length; i++){
							values.add( new String(""+ls[i]) );
						}
					}%
					#{list items:values, as:'value'}
					&{value.trim().replaceAll("\n","_").replaceAll(" ","_").replaceAll(" ","")}<br/>
					#{/list}
				#{/if}
				#{else}
					&{item.value?.trim().replaceAll("\n","_").replaceAll(" ","_").replaceAll(" ","").raw()}
				#{/else}
			#{/if}
			#{else}
				${item.value?.nl2br()}
			#{/else}
			
		#{/else}
		</td>
	</tr>
	#{/if}
#{/list}
</table>

#{if enableAudioText == "true" & tmp > 0}
<div class="actions tableSave">
	<button id="audioSave" type="submit" class="btn primary">Update changes</button>
</div>
#{set 'moreScripts'}
<script type="text/javascript">
	$('#audioSave').click(function(){
		var data = $('textarea.audioText').serialize();

		var request = $.ajax({
		  url: "@{Forms.updateAudioData}",
		  type: "POST",
		  data: 'id=' + ${data.id} + '&' + data
		});

		request.done(function(ret){
			alert('Data updated successfully.');
		});

		request.error(function(ret){
			alert('Error occurred during updating data.');
		});

	});
</script>
#{/set}
#{/if}
